<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.utility.pv.pvfactory">
      <PVFactory
            class="core.businessobject.pv.search.BusObPVSearch"
            name="core.businessobject.pv.search.BusObPVSearch"
            prefix="bo">
      </PVFactory>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            body="html/body.html"
            favicon="html/Core.ico"
            id="core.businessobject.pv.search.ServerConfig.branding"
            themeId="org.eclipse.rap.design.example.business.theme"
            title="连接配置">
      </branding>
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            brandingId="core.businessobject.pv.search.ServerConfig.branding"
            class="core.businessobject.pv.search.ServerConfig"
            id="core.businessobject.pv.search.ServerConfig"
            parameter="pvlinkconfig"
            path="/pvlinkconfig">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themes">
      <theme
            file="theme/theme.css"
            id="org.eclipse.rap.design.example.business.theme">
      </theme>
   </extension>

</plugin>
