<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.csstudio.opibuilder.widget">
      <widget
            category="Monitors"
            description="An Topo. "
            editpart_class="com.siteview.css.topo.editparts.TopologyEdit"
            icon="icons/bmp_PC_Blue.bmp"
            model_class="com.siteview.css.topo.models.TopologyModel"
            name="Topology"
            typeId="com.siteview.css.topo.topology">
      </widget>
      <widget
            category="Monitors"
            description="An Dumb. "
            editpart_class="com.siteview.css.topo.editparts.DumbEdit"
            icon="icons/bmp_Hub.bmp"
            model_class="com.siteview.css.topo.models.DumbModel"
            name="Dumb"
            typeId="com.siteview.css.topo.dumb">
      </widget>
      <widget
            category="Monitors"
            description="A Router mode"
            editpart_class="com.siteview.css.topo.editparts.RouterEdit"
            icon="icons/bmp_Router_Blue.bmp"
            model_class="com.siteview.css.topo.models.RouterModel"
            name="Router"
            typeId="com.siteview.css.topo.router">
      </widget>
      <widget
            category="Monitors"
            description="A Switch Router"
            editpart_class="com.siteview.css.topo.editparts.SwitchRouterEdit"
            icon="icons/bmp_SwitchRouter_Blue.bmp"
            model_class="com.siteview.css.topo.models.SwitchRouterModel"
            name="Switch Router"
            typeId="com.siteview.css.topo.switchrouter">
      </widget>
      <widget
            category="Monitors"
            description="A Switch"
            editpart_class="com.siteview.css.topo.editparts.SwitchEdit"
            icon="icons/bmp_Switch_Blue.bmp"
            model_class="com.siteview.css.topo.models.SwitchModel"
            name="Switch"
            typeId="com.siteview.css.topo.switch">
      </widget>
	</extension>
 <extension
       point="org.csstudio.opibuilder.graphicalFeedbackFactory">
    <graphicalFeedbackFactory
          class="com.siteview.css.topo.feedBack.TopologyFeedBackFactory"
          typeId="com.siteview.css.topo.TopologyFeedBackFactory">
    </graphicalFeedbackFactory>
 </extension>
 <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.siteview.css.topo.editparts.TOPOEdit"
            contributorClass="org.csstudio.opibuilder.editor.OPIEditorActionBarContributor"
            extensions="opi"
            icon="icons/OPIBuilder.png"
            id="com.siteview.css.topo.editparts.TOPOEdit"
            name="TOPO Editor"
            matchingStrategy="org.csstudio.opibuilder.editor.OPIEditorMatcher">
      </editor>
      <editor
            class="com.siteview.css.topo.editparts.ShowDeviceEditor"
            default="false"
            id="com.siteview.css.topo.ShowDeviceEditor"
            name="设备列表">
      </editor>
   </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          class="com.siteview.css.topo.viewpart.DeviceDetailInfoViewPart"
          id="com.siteview.css.topo.devicelistview"
          name="设备列表"
          restorable="true">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.actionSets">
    <actionSet
          id="com.siteview.css.topo.actionSet1"
          label="label"
          visible="true">
       <action
             class="com.siteview.css.topo.actions.ShowDeviceView"
             icon="icons/css16.png"
             id="com.siteview.css.topo.showdevicelist"
             label="设备信息"
             menubarPath="sampleMenu/"
             style="push"
             toolbarPath="sampleGroup">
       </action>
    </actionSet>
 </extension>
 <extension
       point="org.eclipse.ui.popupMenus">
    <objectContribution
          adaptable="false"
          id="com.siteview.css.topo.topo"
          objectClass="com.siteview.css.topo.editparts.TOPOEdit">
       <action
             class="com.siteview.css.topo.actions.ShowDeviceInfoAction"
             enablesFor="1"
             id="org.csstudio.opibuilder.widgets.showDeviceInfoAction"
             label="查看设备信息"
             menubarPath="topo"
             tooltip="asdfasdfasadsf">
       </action>
       <action
             class="com.siteview.css.topo.actions.ShowPanelAction"
             id="com.siteview.css.topo.topopanel"
             label="显示设备面板图"
             menubarPath="topo">
       </action>
    </objectContribution>
    <objectContribution
          adaptable="false"
          id="com.siteview.css.topo.objectContribution1"
          objectClass="com.siteview.css.topo.editparts.TopologyEdit">
       <action
             class="com.siteview.css.topo.actions.ShowDeviceInfoAction"
             enablesFor="1"
             id="org.csstudio.opibuilder.widgets.showDeviceInfoAction1"
             label="查看设备信息"
             menubarPath="topo1">
       </action>
    </objectContribution>
 </extension>
 
</plugin>
