<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.siteview.nnm.main.NNMApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="nnm"
            class="com.siteview.nnm.main.Perspective"
            id="com.siteview.nnm.main.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.siteview.nnm.main.viewer.MenuViewer"
            icon="icons/alt_window_16.gif"
            id="com.siteview.nnm.main.treeview"
            name="功能列表"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               relationship="left"
               minimized="false"
               id="com.siteview.nnm.main.treeview"
               standalone="true"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.siteview.nnm.main.edit.MibEditorPart"
            default="false"
            id="com.siteview.nnm.main.mibbrowser"
            name="MIB浏览">
      </editor>
   </extension>

</plugin>
